entrypoint = "webapp.py"
run = "python3 webapp.py"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-lc", "python3 webapp.py"]

[[ports]]
localPort = 8000
externalPort = 80
